<div class="container">
  <h1>register</h1>

  <!-- Formulaire pour l'inscription en tant que client -->
  <form (ngSubmit)="registerClient()">
    <div class="form-group">
      <label for="firstname-client">Prénom</label>
      <input type="text" class="form-control" id="firstname-client" [(ngModel)]="clientRegisterData.username" name="firstname-client" required>
    </div>
    <div class="form-group">
      <label for="lastname-client">Nom</label>
      <input type="text" class="form-control" id="lastname-client" [(ngModel)]="clientRegisterData.lastname" name="lastname-client" required>
    </div>
    <div class="form-group">
      <label for="email-client">Email</label>
      <input type="email" class="form-control" id="email-client" [(ngModel)]="clientRegisterData.email" name="email-client" required>
    </div>
    <div class="form-group">
      <label for="password-client">Mot de passe</label>
      <input type="password" class="form-control" id="password-client" [(ngModel)]="clientRegisterData.password" name="password-client" required>
    </div>
    <button type="submit" class="btn btn-primary">S'inscrire en tant que client</button>
  </form>

  <!-- Formulaire pour l'inscription en tant qu'administrateur -->
  <form (ngSubmit)="registerAdmin()">
    <div class="form-group">
      <label for="firstname-admin">Prénom</label>
      <input type="text" class="form-control" id="firstname-admin" [(ngModel)]="adminRegisterData.username" name="firstname-admin" required>
    </div>
    <div class="form-group">
      <label for="lastname-admin">Nom</label>
      <input type="text" class="form-control" id="lastname-admin" [(ngModel)]="adminRegisterData.lastname" name="lastname-admin" required>
    </div>
    <div class="form-group">
      <label for="email-admin">Email</label>
      <input type="email" class="form-control" id="email-admin" [(ngModel)]="adminRegisterData.email" name="email-admin" required>
    </div>
    <div class="form-group">
      <label for="password-admin">Mot de passe</label>
      <input type="password" class="form-control" id="password-admin" [(ngModel)]="adminRegisterData.password" name="password-admin" required>
    </div>
    <button type="submit" class="btn btn-primary">S'inscrire en tant qu'administrateur</button>
  </form>
</div>
